html {
height: 100%   
}
#header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    max-width: 900px;
    max-width: 900px;
    background-color: skyblue;
}
p {
    background-color: pink;
}

.first {
    display: grid;
    grid-template-columns: repeat(2, 30px);
    grid-template-rows: repeat(2, 30px);
    background-color: lavenderblush;
    justify-items: center;
    align-items: center;
    max-width: 900px;
    max-width: 900px;
    padding: 50px;
}

.second {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-rows: repeat(4, 30px);
    background-color: lavenderblush;
    justify-items: center;
    align-items: center;
    max-width: 900px;
    max-width: 900px;
    padding: 50px;
}

.third {
    display: grid;
    grid-template-columns: repeat(8, 30px);
    grid-template-rows: repeat(8, 30px);
    background-color: lavenderblush;
    justify-items: center;
    align-items: center;
    max-width: 900px;
    max-width: 900px;
    padding: 50px;
}

.fourth {
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    background-color: lavenderblush;
    justify-items: center;
    align-items: center;
    max-width: 900px;
    max-width: 900px;
    padding: 50px;
}

.fifth {
    display: grid;
    grid-template-columns: repeat(32, 30px);
    grid-template-rows: repeat(32, 30px);
    background-color: lavenderblush;
    justify-items: center;
    align-items: center;
    max-width: 900px;
    max-width: 900px;
    padding: 50px;
}

.item {
    height: 25px;
    width: 25px;
    background-color: rgb(102, 191, 226);
    border-style: solid;
    border-color: black;
    border-width: 0.1px;
}


.hov {
    background-color: pink;
}

.item:hover {
    transform: scale(1.5,1.5);
}

#inputBtn {
    height: auto;
    width: auto;
    border-style: solid;
}


