html {
height: 100vh; 
width: 100vh;
font-family:'Roboto',sans-serif;
}
body {
    height: 100vh;
width: 800px;
}
#bodycontainer {
display: grid;
grid-template-columns: 300px 500px;
grid-template-rows: 1 750px;
margin: 10px;
background-color: white;
}

#header {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    max-height: 100vh;
    background-color: white;
    justify-content: flex-start;
    align-items: center;

}
h1 {
    background-color: white;
    width: 260px;
    text-align: center;
    color: rgb(88, 88, 79);
    font-size: 25px;
    font-weight: bolder;
    font-variant: small-caps;
}

p {
    background-color: white;
    width: 260px;
    color: rgb(88, 88, 79);
    text-align: center;
    font-size: 19px;
    font-weight: bolder;
    font-variant: small-caps;
}

#container1 {
    padding: 20px;
    margin: auto;
    display: grid;
    background-color: white;
    justify-items: center;
    align-items: center;
    max-height: 600px;
    max-width: 600px;
}

.case0 {
    background-color: rgb(102, 191, 226);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.226);
    border-width: 0.1px;
}

.case0:hover {
    transform: scale(1.05,1.05);
    cursor: crosshair;
}

.case1 {
    background-color: rgb(102, 191, 226);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.158);
    border-width: 0.1px;
}

.case1:hover {
    transform: scale(1.2,1.2);
    cursor: crosshair;
}

.case2 {
    background-color: rgb(102, 191, 226);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.068);
    border-width: 0.1px;
}

.case2:hover {
    transform: scale(1.4,1.4);
    cursor: crosshair;
}

.case3 {
    background-color: rgb(102, 191, 226);
    border-style: solid;
    border-color: transparent;
}

.case3:hover {
    transform: scale(1.4,1.4);
    cursor: crosshair;
}
.case4 {
    background-color: rgb(102, 191, 226);
    border-style: solid;
    border-style: solid;
    border-color: transparent;
}

.case4:hover {
    transform: scale(1.4,1.4);
    cursor: crosshair;
}

.caseCustom {
    background-color: rgb(102, 191, 226);
    border-style: solid;
    border-color: transparent;
}

.caseCustom:hover {
    transform: scale(1.4,1.4);
    cursor: crosshair;
}

#inputBtn {
    height: 50px;
    width: 150px;
    font-size: 30px;
    font-weight: bolder;
    font-variant: small-caps;
    background-color: white;
    border-style: solid;
    margin: 10px;
    color: rgb(88, 88, 79);
}

#reset {
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    background-color: white;
    border-style: solid;
    margin: 10px;
    color: rgb(88, 88, 79);
}

#userInput {
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    font-variant: small-caps;
    background-color: white;
    color: rgb(88, 88, 79);
    border-style: solid;
    margin: 10px;;
}


